@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap");
.nav {
  font-family: "Merriweather", serif;
  padding-left: 2%;
  padding-right: 2%;
  height: 5vh;
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1B242F;
  font-size: large;
  border-bottom: 5px solid #04C2C9;
  z-index: 9999;
}
.nav__labels {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
}

.nav__labels:hover {
  text-decoration: underline;
  color: coral;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__button {
  border-radius: 10%;
  width: 120px;
  height: 40px;
  cursor: pointer;
  border: solid 2px #355cc9;
  background: none;
  color: #355cc9;
  margin-top: 5px;
}

.card__button:hover {
  background: #355cc9;
  color: #EEEEEE;
}

.starterpage__typer h1 {
  overflow: hidden;
  border-right: 0.15em solid purple;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: purple;
  }
}
.starterpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  background-image: url("./assests/images/portfolio2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.starterpage__header {
  color: #EEEEEE;
  font-family: "Special Elite", cursive;
  font-size: 200%;
  text-align: center;
}
.starterpage__header2 {
  color: #EEEEEE;
  font-family: "Special Elite", cursive;
  font-size: 200%;
  text-align: center;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: #002366;
  color: #EEEEEE;
  font-family: "Merriweather", serif;
}
.about__container {
  display: grid;
  grid-template-areas: "head head head " "skill skill skill" "icons icons icons" "me me me" "writing writing writing";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 5vh 40vh 5vh 40vh;
}
.about__heading {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: underline 5px solid #04C2C9;
}
.about__skill {
  grid-area: skill;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline 3px solid #04C2C9;
  border-top: 3px white solid;
}
.about__skill-icons {
  grid-area: icons;
  border-bottom: 3px white solid;
  padding-top: 5px;
  padding-left: 15px;
}
.about__me {
  grid-area: me;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline 3px solid #04C2C9;
  border: 0px 5px 5px 5px white solid;
  text-align: center;
}
.about__me-writing {
  grid-area: writing;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 25px;
  line-height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 20px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.icons-containter {
  font-size: 22px;
  padding: 30px;
}

.iconhtml:hover {
  content: "HTML 5";
  color: #e34c26;
}

.iconcss:hover {
  color: #264de4;
}

.iconsass:hover {
  color: #cc6699;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  padding-top: 35px;
  font-family: "Merriweather", serif;
}
.portfolio .portfolio__cards {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
}
.portfolio__header {
  color: #002366;
  text-decoration: underline 5px solid #04C2C9;
}
.portfolio .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.portfolio .card {
  width: 420px;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
}
.portfolio .card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}
.portfolio .more {
  display: none;
}
.portfolio .more:checked ~ .content {
  transform: rotateY(180deg);
}
.portfolio .front,
.portfolio .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.portfolio .front .inner,
.portfolio .back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}
.portfolio .front {
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
.portfolio .front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
}
.portfolio .front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.portfolio .front h2 {
  grid-row: 2;
  margin-bottom: 0.3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.portfolio .front .rating {
  grid-row: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
}
.portfolio .front .rating i {
  margin: 0 1px;
}
.portfolio .back {
  transform: rotateY(180deg);
  background-color: #fff;
  border: 2px solid #f0f0f0;
}
.portfolio .back .inner {
  grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.8em;
  justify-items: center;
}
.portfolio .back .info {
  position: relative;
  display: flex;
  align-items: center;
  color: #355cc9;
  grid-row: 3;
}
.portfolio .back .info:not(:first-of-type):before {
  content: "";
  position: absolute;
  left: -0.9em;
  height: 18px;
  width: 1px;
  background-color: #ccc;
}
.portfolio .back .info span {
  font-size: 2em;
  font-weight: 700;
}
.portfolio .back .info i {
  font-size: 1.2em;
}
.portfolio .back .info i:before {
  background: linear-gradient(40deg, #355cc9, #438af3);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.portfolio .back .info .icon {
  margin-left: 0.3em;
}
.portfolio .back .info .icon span {
  display: block;
  margin-top: -0.25em;
  font-size: 0.8em;
  font-weight: 600;
  white-space: nowrap;
}
.portfolio .back .description {
  grid-row: 5;
  grid-column: 1/-1;
  font-size: 0.86em;
  border-radius: 5px;
  font-weight: 600;
  line-height: 1.4em;
  overflow: auto;
  color: #355cc9;
  padding-right: 10px;
}
.portfolio .back .name,
.portfolio .back .price {
  font-weight: 600;
  color: #355cc9;
  grid-row: 1;
  font-size: 0.86em;
}
.portfolio .back .location {
  grid-column: 1/3;
  justify-self: left;
}
.portfolio .back .price {
  grid-column: 3/-1;
  justify-self: right;
}
.portfolio .back .button {
  grid-column: 1/-1;
  justify-self: center;
}
.portfolio .button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.portfolio .button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #355cc9;
}
.portfolio .button.return {
  line-height: 3em;
  color: #355cc9;
  border-color: #355cc9;
  text-shadow: none;
}
.portfolio .button.return:hover {
  background-color: #355cc9;
  color: #fff;
  box-shadow: none;
}
.portfolio ::-webkit-scrollbar {
  width: 5px;
}
.portfolio ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.portfolio ::-webkit-scrollbar-thumb {
  background: #859ddf;
}
.portfolio ::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}

::placeholder {
  color: #5588A3;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: #002366;
  padding-top: 35px;
  font-family: "Merriweather", serif;
}
.contact__header {
  color: #EEEEEE;
  text-decoration: underline 5px solid #04C2C9;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.contact__form-name {
  margin: 10px;
  width: 200px;
  height: 30px;
  background-color: #145374;
}
.contact__form-email {
  margin: 10px;
  width: 200px;
  height: 30px;
  background-color: #145374;
}
.contact__form-comment {
  margin: 10px;
  width: 200px;
  background-color: #145374;
  color: #5588A3;
}
.contact__btn {
  width: 100px;
  height: 25px;
  border: 3px #EEEEEE solid;
  background-color: #002366;
  color: #EEEEEE;
}
.contact__btn:hover {
  background-color: #EEEEEE;
  color: #002366;
}

.footer {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #EEEEEE;
  color: #002366;
  padding-bottom: 30px;
}
.footer__header {
  font-family: "Merriweather", serif;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: purple;
  font-size: 20px;
  text-decoration: none;
}
.footer__icon a {
  color: #AA2EE6;
}
.footer__icon .footer__icon-envelope {
  padding: 10px;
}
.footer__icon .footer__icon-envelope:hover {
  opacity: 50%;
}
.footer__icon .footer__icon-git {
  padding: 10px;
}
.footer__icon .footer__icon-git:hover {
  opacity: 50%;
}
.footer__icon .footer__icon-linkedin {
  padding: 10px;
}
.footer__icon .footer__icon-linkedin:hover {
  opacity: 50%;
}

@media screen and (min-width: 1000px) {
  .starterpage__header {
    font-size: 300%;
  }

  .starterpage__header2 {
    font-size: 300%;
  }

  .about {
    width: 100vw;
    height: 100vh;
    background-color: #002366;
    color: #EEEEEE;
    font-family: "Merriweather", serif;
  }
  .about__container {
    display: grid;
    grid-template-areas: "head head head " "skill me me " "icons writing writing ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 5vh 75vh;
  }
  .about__heading {
    padding: 10px;
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 5px solid #04C2C9;
    font-size: 30px;
  }
  .about__skill {
    grid-area: skill;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline 3px solid #04C2C9;
    border-top: 3px white solid;
    border-left: 3px white solid;
    border-right: 3px white solid;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
  }
  .about__skill-icons {
    grid-area: icons;
    border-bottom: 3px white solid;
    border-left: 3px white solid;
    border-right: 3px white solid;
    padding: 20px;
    padding-top: 40px;
    margin-left: 20px;
  }
  .about .icons-containter {
    font-size: 60px;
    padding: 40px;
  }
  .about__me {
    grid-area: me;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline 3px solid #04C2C9;
    text-align: center;
    border-top: 3px white solid;
    border-right: 3px white solid;
    border-left: 3px white solid;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 25px;
  }
  .about__me-writing {
    grid-area: writing;
    border-right: 3px white solid;
    border-bottom: 3px white solid;
    border-left: 3px white solid;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 30px;
  }

  .portfolio {
    min-height: 100vh;
    width: 100vw;
    padding: 50px;
  }
  .portfolio__header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .portfolio__img1 {
    margin-top: 20px;
    width: 400px;
    height: 200px;
  }
  .portfolio__img1-desc {
    background-color: #002366;
    width: 400px;
    height: 50px;
  }
  .portfolio__img1-desc .portfolio__img1-cap1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Merriweather", serif;
    color: #EEEEEE;
    padding-left: 75px;
    padding-top: 10px;
  }
  .portfolio__img1-desc .fa-mouse-pointer {
    text-decoration: black;
    padding-left: 50px;
    font-size: 20px;
  }
  .portfolio__img1-desc .fa-mouse-pointer:hover {
    opacity: 50%;
  }

  ::placeholder {
    color: #5588A3;
  }

  .contact {
    padding: 50px;
  }
  .contact__form-name {
    margin: 10px;
    width: 300px;
    height: 50px;
    background-color: #145374;
  }
  .contact__form-email {
    margin: 10px;
    width: 300px;
    height: 50px;
    background-color: #145374;
  }
  .contact__form-comment {
    margin: 10px;
    width: 300px;
    background-color: #145374;
    color: #5588A3;
  }
  .contact__btn {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: 3px #EEEEEE solid;
    background-color: #002366;
    color: #EEEEEE;
    font-size: 20px;
  }

  .footer {
    padding-bottom: 40px;
    font-size: 20px;
  }

  .footer__icon {
    color: purple;
    font-size: 30px;
  }
}