@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');
@import './assests/styles/nav.scss';
@import './assests/styles/icons.scss';
@import './assests/styles/variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.starterpage__typer h1 {
  overflow: hidden;
  border-right: .15em solid $blinkcolor; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $blinkcolor; }
}


.starterpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  background-image: url("./assests/images/portfolio2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
    &__header{
      color: $primarycolor;
      font-family: 'Special Elite', cursive;
      font-size: 200%;
      text-align: center;
    }
    &__header2{
      color: $primarycolor;
      font-family: 'Special Elite', cursive;
      font-size: 200%;
      text-align: center;
    }
}

.about{
  width: 100vw;
  height: 100vh;
    background-color: $secondarycolor;
    color: $primarycolor;
    font-family: 'Merriweather', serif;
    &__container{
      display: grid;
      grid-template-areas: 
      "head head head "
      "skill skill skill"
      "icons icons icons"
      "me me me"
      "writing writing writing";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10vh 5vh 40vh 5vh 40vh;
    }
    &__heading{
      grid-area: head;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-decoration: underline 5px solid $borderbottom;
    }
    &__skill{
      grid-area: skill;
      margin-top: 15px;
      padding-left: 10px;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-decoration: underline 3px solid $borderbottom;
      border-top: 3px white solid;
    }
    &__skill-icons{
      grid-area: icons;
      border-bottom: 3px white solid ;
      padding-top: 20px;
      padding-left: 10px;
    }
    &__me{
      grid-area: me;
      padding-left: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-decoration: underline 3px solid $borderbottom;
      border: 0px 5px 5px 5px white solid;
      text-align: center;
    }
    &__me-writing{
      grid-area: writing;
      padding-left: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
}

.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $primarycolor;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
    &__header{
      color: $secondarycolor;
      text-decoration: underline 5px solid $borderbottom;
    }
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: $secondarycolor;
  padding-top: 35px;
  font-family: 'Merriweather', serif;
    &__header{
      color: $primarycolor;
      text-decoration: underline 5px solid $borderbottom;
    }
    &__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
    }
    &__form-name{
      margin: 10px;
      width: 200px;
      height: 30px;
    }
    &__form-email{
      margin: 10px;
      width: 200px;
      height: 30px;
    }
    &__form-comment{
      margin: 10px;
      width: 200px;
    }
    &__btn{
      width: 100px;
      height: 25px;
      border: 3px $primarycolor solid;
      background-color: $secondarycolor;
      color: $primarycolor;
    }
    &__btn:hover{
      background-color: $primarycolor;
      color: $secondarycolor;
    }
}

.footer{
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $primarycolor;
  color: $secondarycolor;
  padding-bottom: 30px;
  &__header{
    font-family: 'Merriweather', serif;
  }
  &__icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $blinkcolor;
    font-size: 20px;
    .footer__icon-envelope{
      padding: 10px;
    }
    .footer__icon-envelope:hover{
      opacity: 50%;
    }
    .footer__icon-git{
      padding: 10px;
    }
    .footer__icon-git:hover{
      opacity: 50%;
    }
    .footer__icon-linkedin{
      padding: 10px;
    }
    .footer__icon-linkedin:hover{
      opacity: 50%;
    }
  }
}


@media screen and (min-width: 1000px){
  .starterpage__header{
    font-size: 300%;
  }
  .starterpage__header2{
    font-size: 300%;
  }
  .about{
    width: 100vw;
    height: 100vh;
      background-color: $secondarycolor;
      color: $primarycolor;
      font-family: 'Merriweather', serif;
      &__container{
        display: grid;
        grid-template-areas: 
        "head head head "
        "skill me me "
        "icons writing writing ";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15vh 5vh 75vh;
      }
      &__heading{
        padding: 10px;
        grid-area: head;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline 5px solid $borderbottom;
        font-size: 30px;
      }
      &__skill{
        grid-area: skill;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-decoration: underline 3px solid $borderbottom;
        border-top: 3px white solid;
        border-left: 3px white solid;
        border-right: 3px white solid;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 25px;
      }
      &__skill-icons{
        grid-area: icons;
        border-bottom: 3px white solid ;
        border-left: 3px white solid;
        border-right: 3px white solid;
        padding: 20px;
        padding-top: 40px;
        margin-left: 20px;
      }
      &__me{
        grid-area: me;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-decoration: underline 3px solid $borderbottom;
        text-align: center;
        border-top: 3px white solid;
        border-right: 3px white solid;
        border-left: 3px white solid;
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 20px;
        font-size: 25px;
      }
      &__me-writing{
        grid-area: writing;
        border-right: 3px white solid;
        border-bottom: 3px white solid;
        border-left: 3px white solid;
        padding: 20px;
        padding-top: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
        margin-right: 30px;
      }
  }
  .portfolio{
    height: 100vh;
    width: 100vw;
    padding: 50px;
  }
  .contact{
    padding: 50px;
  }
  .footer{
    padding-bottom: 40px;
    font-size: 20px;
  }
  .footer__icon{
    font-size: 30px;
  }
}
