@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap");
.nav {
  font-family: "Merriweather", serif;
  padding-left: 2%;
  padding-right: 2%;
  height: 5vh;
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1B242F;
  font-size: large;
  border-bottom: 5px solid #04C2C9;
}
.nav__labels {
  color: #EEEEEE;
  text-align: center;
  text-decoration: none;
}

.nav__labels:hover {
  text-decoration: underline;
  color: coral;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.starterpage__typer h1 {
  overflow: hidden;
  border-right: 0.15em solid purple;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: purple;
  }
}
.starterpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100vw;
  background-image: url("./assests/images/portfolio2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.starterpage__header {
  color: #EEEEEE;
  font-family: "Special Elite", cursive;
  font-size: 200%;
  text-align: center;
}
.starterpage__header2 {
  color: #EEEEEE;
  font-family: "Special Elite", cursive;
  font-size: 200%;
  text-align: center;
}

.about {
  width: 100vw;
  height: 100vh;
  background-color: #002366;
  color: #EEEEEE;
  font-family: "Merriweather", serif;
}
.about__container {
  display: grid;
  grid-template-areas: "head head head " "skill skill skill" "icons icons icons" "me me me" "writing writing writing";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 5vh 40vh 5vh 40vh;
}
.about__heading {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: underline 5px solid #04C2C9;
}
.about__skill {
  grid-area: skill;
  margin-top: 15px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline 3px solid #04C2C9;
  border-top: 3px white solid;
}
.about__skill-icons {
  grid-area: icons;
  border-bottom: 3px white solid;
  padding-top: 20px;
  padding-left: 10px;
}
.about__me {
  grid-area: me;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: underline 3px solid #04C2C9;
  border: 0px 5px 5px 5px white solid;
  text-align: center;
}
.about__me-writing {
  grid-area: writing;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #EEEEEE;
  padding-top: 35px;
  font-family: "Merriweather", serif;
}
.portfolio__header {
  color: #002366;
  text-decoration: underline 5px solid #04C2C9;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 100vw;
  background-color: #002366;
  padding-top: 35px;
  font-family: "Merriweather", serif;
}
.contact__header {
  color: #EEEEEE;
  text-decoration: underline 5px solid #04C2C9;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.contact__form-name {
  margin: 10px;
  width: 200px;
  height: 30px;
}
.contact__form-email {
  margin: 10px;
  width: 200px;
  height: 30px;
}
.contact__form-comment {
  margin: 10px;
  width: 200px;
}
.contact__btn {
  width: 100px;
  height: 25px;
  border: 3px #EEEEEE solid;
  background-color: #002366;
  color: #EEEEEE;
}
.contact__btn:hover {
  background-color: #EEEEEE;
  color: #002366;
}

.footer {
  height: 20vh;
  width: 100vw;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #EEEEEE;
  color: #002366;
  padding-bottom: 30px;
}
.footer__header {
  font-family: "Merriweather", serif;
}
.footer__icon {
  color: purple;
  padding-bottom: 10px;
}

@media screen and (min-width: 1000px) {
  .starterpage__header {
    font-size: 300%;
  }

  .starterpage__header2 {
    font-size: 300%;
  }

  .about {
    width: 100vw;
    height: 100vh;
    background-color: #002366;
    color: #EEEEEE;
    font-family: "Merriweather", serif;
  }
  .about__container {
    display: grid;
    grid-template-areas: "head head head " "skill me me " "icons writing writing ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 5vh 75vh;
  }
  .about__heading {
    padding: 10px;
    grid-area: head;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline 5px solid #04C2C9;
    font-size: 30px;
  }
  .about__skill {
    grid-area: skill;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline 3px solid #04C2C9;
    border-top: 3px white solid;
    border-left: 3px white solid;
    border-right: 3px white solid;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
  }
  .about__skill-icons {
    grid-area: icons;
    border-bottom: 3px white solid;
    border-left: 3px white solid;
    border-right: 3px white solid;
    padding: 20px;
    padding-top: 40px;
    margin-left: 20px;
  }
  .about__me {
    grid-area: me;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline 3px solid #04C2C9;
    text-align: center;
    border-top: 3px white solid;
    border-right: 3px white solid;
    border-left: 3px white solid;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 20px;
    font-size: 25px;
  }
  .about__me-writing {
    grid-area: writing;
    border-right: 3px white solid;
    border-bottom: 3px white solid;
    border-left: 3px white solid;
    padding: 20px;
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 30px;
  }

  .portfolio {
    height: 100vh;
    width: 100vw;
    padding: 50px;
  }

  .contact {
    padding: 50px;
  }

  .footer {
    padding-bottom: 20px;
  }
}