@import './variables.scss';

.nav{
  font-family: 'Merriweather', serif;
  padding-left: 2%;
  padding-right: 2%;
  height: 5vh;
  width: 100vw;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $navcolor;
  font-size: large;
  border-bottom: 5px solid $borderbottom;
  z-index: 9999;
    &__labels{
      color: $primarycolor;
      text-align: center;
      text-decoration: none;
    }
}

.nav__labels:hover{
  text-decoration: underline;
  color: coral;
}